<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>FANBOOK</title>
	<link rel="stylesheet" type="text/css" href="/static/style.css">
	<link rel="stylesheet" type="text/css" href="/static/bootstrap-5/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

</head>

<body>

	<script src="/static/javajs.js"></script>
	
	<!-- tittlenya -->
	<div class="mypic">
		<h1>LANY FAN BOOK</h1>
		<p> current temperatur in <span id="city">none</span> : <span id="temp">36</span>degress</p>
		<p>current the clouds <span id="clouds">%</span></p>
	</div>
	<!-- endtitle -->

	<!-- posttext -->
	<div class="mypost">
		<div class="form-floating mb-3">
			<input type="text" class="form-control" id="floatingInput" placeholder="enter your name">
			<label for="floatingInput">NickName</label>
		</div>
		<div class="form-floating">
			<textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
			<label for="floatingTextarea">Fan Message</label>
		</div>
		<button type="button" class="btn btn-dark">Leave a fan message</button>
	</div>
	<!-- endposttext -->

	<div class="mycards">
		<div class="card mb-3" style="max-width: 540px;">
			<div class="row g-0">
				<div class="col-md-4">
					<img src="/static/backlany.jpg" class="img-fluid rounded-start" alt="...">
				</div>
				<div class="col-md-8">
					<div class="card-body">
						<h5 class="card-title">LANY 13</h5>
						<p class="card-text">This is a wider card with supporting text below as a natural lead-in to
							additional content. This content is a little bit longer.</p>
						<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
					</div>
				</div>
			</div>
		</div>
		<div class="card mb-3" style="max-width: 540px;">
			<div class="row g-0">
				<div class="col-md-4">
					<img src="/static/malibu.jpg" class="img-fluid rounded-start" alt="...">
				</div>
				<div class="col-md-8">
					<div class="card-body">
						<h5 class="card-title">MALIBU NIGHT</h5>
						<p class="card-text">This is a wider card with supporting text below as a natural lead-in to
							additional content. This content is a little bit longer.</p>
						<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
					</div>
				</div>
			</div>
		</div>
		<div class="card mb-3" style="max-width: 540px;">
			<div class="row g-0">
				<div class="col-md-4">
					<img src="/static/ggbbxx.webp" class="img-fluid rounded-start" alt="...">
				</div>
				<div class="col-md-8">
					<div class="card-body">
						<h5 class="card-title">GGBBXX</h5>
						<p class="card-text">This is a wider card with supporting text below as a natural lead-in to
							additional content. This content is a little bit longer.</p>
						<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>